/* ["#edf2fb","#e2eafc","#d7e3fc","#ccdbfd","#c1d3fe","#b6ccfe","#abc4ff"] */
#hero{
    background:black;
    opacity: 0.5;

}
#hero-text{
    opacity: 1;
}
div{
    border:1px dotted black;
    padding: 10px;
}