/* ["#edf2fb","#e2eafc","#d7e3fc","#ccdbfd","#c1d3fe","#b6ccfe","#abc4ff"] */
#hero{
    background:black;
    opacity: 0.5;

}
#hero-text{
    opacity: 1;
}
div{
    padding: 10px;
}

.btn-custom{
    background:#859ac9 !important;
    text-shadow: #c2dbf3;
}
body{
    background:#ccdbfd !important;font-family: 'Poppins', sans-serif;
  background-color: #c2dbf3;
}

.btn-custom {
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.3s;
}

.btn-custom:hover {
  transform: scale(1.05);
}

.carousel img {
  border-radius: 15px;
  height: 200px;
  object-fit: cover;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}